@include block("main") {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #EAEEF7;

  @include block("header") {
    height: 72px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #EAEEF7;

    @include element("logo") {
      width: 104px;
      height: 104px;
      background-color: #25165B;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      @include block("image") {
        width: 48px;
        height: 48px;
      }
    }
    @include element("demo-mode"){
      color: #BDBDBD;
      text-transform: uppercase;
      font-size: 14px;
      display: inline-block;
      float: right;
      margin-right: 30px;
      line-height: 72px;
      position: relative;
      cursor: pointer;
      @include block("icon"){
        width: 17px;
        right: 94px;
        top: 27px;
        position: absolute;
      }
    }
  }

  @include block("navigation") {
    width: 104px;
    display: block;
    position: absolute;
    left: 52px;
    top: 104px;
    bottom: 0;
    background-color: white;
    transition: left .5s ease-in-out;

    @include modifier("hide") {
      left: -52px;
    }
  }

  @include block("navigation-on-trading") {
    z-index: 99999;
    width: 104px;
    display: block;
    position: absolute;
    transform: translateX(0);
    top: 72px;
    bottom: 0;
    background-color: white;
    transition: transform .5s ease-in-out;
    box-shadow: 0 -16px 32px rgba(0, 0, 0, 0.1);

    @include modifier("hide-on-trading") {
      transform: translateX(-140px);
    }
  }

  @include block("content") {
    //width: calc(100% - #{104+32}px);
    //min-height: calc(100% - #{104+32}px);
    display: block;
    //position: absolute;
    //top: 120px;
    //left: 120px;
    min-height: calc(100% - #{104+32}px);
    //overflow-x: hidden;
    @include modifier("width1500"){
      max-width: 1500px;
      margin: auto;
    }
  }
}

@include block("demo") {
  @include element("menu") {
    position: absolute;
    cursor: initial;
    padding: 16px 16px 16px 28px;
    width: 185px;
    top: 60px;
    border: 1px solid #d6d0d0;
    background: #fff;
    z-index: 99999;
    left: -25px;
    box-shadow: 0px 10px 30px -4px #aaa;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;

    @include modifier("hidden") {
      display: none;
    }
  }

  @include element("menu-link"){
    color: #000 !important;
    line-height: 28px;
    display: block;
    cursor: pointer;
    text-transform: none;
    &:hover{
      text-decoration: none;
      background: #e8e8e8;
    }
    @include modifier("new"){
      &:after{
        content: "New";
        background: $light-blue;
        padding: 5px;
        border-radius: 2px;
        margin-left: 7px;
        color: $white-color;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
}