@include block("footer") {
  overflow: hidden;
  width: 100%;
  background-image: url("_images/footer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  z-index: 1;

  @include element("block") {
    background-color: #15151c;
    width: 100%;
    position: relative;
    padding: 0 80px;
    padding-bottom: 172px;
    top: 172px;
    left: 50%;
    transform: translateX(-50%);
    display: block;

    @include for($m-screens) {
      padding-bottom: 300px;
      top: 300px;
    }

    @include for($s-screens) {
      padding-bottom: 370px;
      top: 370px;
    }

    @include for($xs-screens) {
      padding-bottom: 420px;
      top: 390px;
    }

  }

  @include element("row-logo") {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    @include for($m-screens) {
      margin-bottom: 0;
    }
    & picture{
      @include for(1400px){
        float: left;
        padding-right: 30px;
      }
    }
  }
  @include element("cm-logo"){
    display: inline-block;
    padding-left: 70px;
    text-align: left;
  }

  @include element("container") {
    margin: auto;
    text-align: center;
    margin-top: 20px;

    @include element("site-map") {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin-left: 80px;

      @include for($mx-screens) {
        margin-left: 40px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-left: 80px;

        @include for($mx-screens) {
          margin-left: 50px;
        }
      }

      @include for($s-screens) {
        display: table;
        margin-left: calc(50% - 60px) !important;
        margin-top: 24px;
      }

      @include element("title") {
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 8px;
      }

      @include element("link-list") {
        list-style: none;

        @include element("list-item") {
          font-size: 16px;
          font-weight: 400;
          color: #9a9a9a;
          margin: 16px 0;
          position: relative;

          @include for($s-screens) {
            margin: 10px 0;
          }

          @include block("link") {
            &:hover {
              color: #ffffff;
            }
          }
          & .icon{
            width: 30px;
            display: block;
            position: absolute;
            margin-left: -33px;
            top: -4px;
          }
        }
      }
    }
    @include modifier("contacts"){
      position: absolute;
      text-align: left;
      color: #9a9a9a;
      top: 104px;
      @include for(1400px){
        position: relative;
        top: 0;
      }
    }
  }

  @include element("privacy") {
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 16px;

    @include for($xs-screens) {
      line-height: initial;
      text-align: center;
    }
  }

  @include element("cookie-privacy"){
    width: 100%;
    background: #25165B;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    padding: 15px 0 11px;
    position: fixed;
    bottom: 0;
    & p{
      max-width: 80%;
      margin: auto;
    }
    & a{
      color: #fff;
      font-weight: bold;
    }
    & button{
      margin-left: 10px;
      padding: 3px 7px;
      font-weight: bold;
    }

  }
}