@include block("signup") {
  color: black;
  font-size: 20px;
  background-image: url("_images/shutterstock_440473375.png");
  background-position: -50% 0;
  background-size: 60% 100%;
  white-space: nowrap;

  @include element("menu-container") {
    padding: 20px 50px;
    width: 40%;
    display: inline-block;
    background: #F5F5F5;
    min-width: 512px;
    vertical-align: top;
    white-space: initial;

    @include for($s-screens) {
      width: 100%;
    }
  }

  @include element("cryptostats") {
    padding: 75px 0 0 50px;
    font-family: Eina04-Regular, -apple-system, Sans-Serif, serif;
    line-height: 36px;
    font-size: 24px;
    color: #FFFFFF;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    white-space: initial;

    @include for($s-screens) {
      display: none;
    }
  }

  @include element("closesign"){
    color: white;
    position: absolute;
    top: 30px;
    right: 50px;
    cursor: pointer;

    @include for($s-screens) {
      color: black;
    }
  }

  @include element("title") {
    font-family: Eina04-SemiBold, -apple-system, Sans-Serif, serif;
    line-height: 41px;
    font-size: 32px;
    letter-spacing: -0.888889px;
    color: #262626;
  }

  @include element("subtitle") {
    font-family: Eina04-Regular, -apple-system, Sans-Serif, serif;
    line-height: 41px;
    font-size: 16px;
    letter-spacing: -0.444444px;

    color: #AAAAAA;
  }

  @include element("main-form") {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 4px;

    @include element("left-radio") {
      width: 50%;
      display: inline-block;
    }

    @include element("right-radio") {
      display: inline-block;
    }

    @include element("radio-label") {
      padding: 0 15px;
      font-family: Eina04-SemiBold, -apple-system, Sans-Serif, serif;
      line-height: normal;
      font-size: 16px;
      color: #262626;
    }

    & input:checked {

    }

    @include element("label") {
      font-family: Eina04-SemiBold, -apple-system, Sans-Serif, serif;
      line-height: normal;
      font-size: 16px;
      color: #262626;
    }

    @include element("label-desc") {
      font-family: Eina04-SemiBold, -apple-system, Sans-Serif, serif;
      line-height: normal;
      font-size: 13px;

      color: #262626;
      mix-blend-mode: normal;
      opacity: 0.3;
    }

    @include element("form-item") {
      border-bottom: 1px solid #E9E9E9;
      padding: 10px 20px 10px 20px;

      &:first-child{
        padding: 20px;
      }
    }

    @include element("form-out-item") {

    }

    @include element("form-input") {
      width: 100%;
      border: 0;
    }

    @include element("form-info") {
      border-bottom: 1px solid #E9E9E9;
      padding: 10px 20px;
      background: #EEF3FF;
      font-family: Eina04-Regular, -apple-system, Sans-Serif, serif;
      line-height: 12px;
      font-size: 10px;

      color: #262626;
      mix-blend-mode: normal;
      opacity: 0.5;
    }

    @include element("label-out") {
      font-family: Eina04-SemiBold, -apple-system, Sans-Serif, serif;
      line-height: normal;
      font-size: 16px;
      padding: 20px;
      color: #262626;
      mix-blend-mode: normal;
      opacity: 0.3;
      display: inline-block;
      width: 80%;
    }

    @include element("currency") {
      font-family: Eina04-SemiBold, -apple-system, Sans-Serif, serif;
      line-height: normal;
      font-size: 16px;
      color: #262626;
      width: 20%;
      display: inline-block;
      border-left: 1px solid #E9E9E9;
      padding: 20px 10px;

      & img {
        width: 13px;
        margin-left: 10px;
      }

      & .image {
        display: inline-block
      }
    }
  }

  @include element("checkbox-container") {
    display: inline-block;
    width: 14%;
    text-align: center;
    vertical-align: top;
    padding-top: 5px;

    & input {
      border: 1px solid #AAAAAA;
      box-sizing: border-box;
      border-radius: 2px;
    }
  }

  @include element("emails-agree") {
    display: inline-block;
    width: 85%;
    vertical-align: top;
    font-family: Eina04-Regular, -apple-system, Sans-Serif, serif;
    line-height: 16px;
    font-size: 12px;

    color: #262626;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  @include element("agreeemail-container") {
    padding: 10px;
  }

  @include element("submit-btn") {
    font-family: Eina04-SemiBold, -apple-system, Sans-Serif, serif;
    line-height: normal;
    font-size: 16px;
    background: #0F48C7;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }

  @include element("terms-confirm") {
    font-family: Eina04-Regular, -apple-system, Sans-Serif, serif;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
    color: #AAAAAA;

    & span {
      font-family: Eina04-SemiBold, -apple-system, Sans-Serif, serif;
      font-size: 12px;
      color: #0F48C7;
    }
  }

  @include element("link") {
    font-family: Eina04-SemiBold, -apple-system, Sans-Serif, serif;
    font-size: 14px;
    color: #0F48C7;
  }

  @include element("login-container") {
    font-family: Eina04-SemiBold, -apple-system, Sans-Serif, serif;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    color: #262626;
    mix-blend-mode: normal;

    & span:first-child {
      opacity: 0.3;
    }
  }
}