@include block('header-navigation') {
  font-family: Roboto, sans-serif;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(37, 22, 91, 0.1);
  z-index: 3;
  position: absolute;
  width: 100%;

  @include block('logo') {
    margin: 16px 24px;

    @include for(1380px) {
      margin-right: 0;
    }

    @include smartphones() {
      position: relative;
      display: block;
      margin: 30px auto;
    }
  }

  @include smartphones() {
    display: block;
    box-shadow: none;
    justify-content: center;
    background: transparent;
  }

  @include element('buttons') {
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    @include for($m-screens) {
      margin-right: 12px;
    }
    @include for($navigation-min-width) {
      justify-content: center;
    }
  }
  @include element("computer-buttons") {

    @include smartphones() {
      display: none;
    }
  }

  @include element('localization') {
    position: relative;
    border-left: 1px solid #ECECEC;
    height: 72px;
    padding: 16px 24px;
    margin-left: 24px;

    @include smartphones() {
      display: none;
    }
  }

  @include element('localization-button') {
    cursor: pointer;
    width: 42px;
    height: 40px;
    border-radius: 2px;
    border: none;
    background-color: white;
    color: #261C53;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .5s;

    &:hover {
      border-color: rgb(115, 115, 121);
      color: rgb(150, 150, 155);
    }

    @include modifier("show") {
      @include block("icon") {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    @include block("icon") {
      margin-left: 8px;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      svg {
        transition: transform .2s ease-in-out;
        fill: #BFBFBF;
        width: 16px;
        height: 16px;
      }
    }
  }

  @include element('login-button') {
    cursor: pointer;
    width: 96px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(37, 22, 91, 0.15);
    box-sizing: border-box;
    border-radius: 2px;
    color: rgba(37, 22, 91, 0.45);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color .3s;
    margin: 0 4px;

    &:hover {
    }
  }

  @include element('signin-button') {
    cursor: pointer;
    width: 96px;
    height: 40px;
    border: 1px solid rgba(37, 22, 91, 0.15);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #4B72FF;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color .3s;
    margin: 0 0 0 6px;
    @include for($xxxs-screens) {
      display: none;
    }
    &:hover {
      background-color: #4B72cd;
    }
  }
}
@include block("header-navigation-menu") {
  width: 100%;
  display: flex;

  justify-content: flex-end;
}
@include block("header-navigation-list") {
  justify-content: center;
  display: inline-flex;
  flex: 1;
  list-style: none;
  height: 72px;

  @include for($navigation-min-width) {
    margin-top: 90px;
    height: auto;
  }

  @include element("item") {
    display: inline-block;
    margin: 0 16px;
    height: 100%;
    padding-top: 28px;

    @include for($ml-screens) {
      margin: 0 10px;
    }

    @include for($navigation-min-width) {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding: 12px 0;
      @include modifier("active") {
        border-bottom: 0;
      }
    }

    @include modifier("active") {
      border-bottom: 2px solid $chart-blue;
      a > span {
        color: #25165B;
      }
    }

    @include block("link") {
      white-space: nowrap;
      text-decoration: none;
      color: rgba(37, 22, 91, 0.45);
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;

      @include for(1380px) {
        font-size: 12px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@include block("header-navigation-mobile") {
  @include element("wrapper") {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: inherit;

    @include modifier("back") {
      background: url("_images/chartLine.svg") no-repeat left 10px bottom;
    }
  }

  @include element("logo") {
    position: absolute;
    top: 6vh;
  }

  @include element("header-bottom-desc") {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include element('login-btn') {
    cursor: pointer;
    width: 120px;
    height: 45px;
    border: 1px solid rgba(37, 22, 91, 0.15);
    box-sizing: border-box;
    border-radius: 2px;
    background: #0037FF;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    //transition: background-color .3s;

    //-webkit-box-shadow: 0px 10px 30px -4px #aaa;
    //-moz-box-shadow: 0px 10px 30px -4px #aaa;
    box-shadow: 0px 10px 30px -4px #aaa;
  }

  @include element('signin-btn') {
    cursor: pointer;
    width: 120px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid rgba(37, 22, 91, 0.15);
    box-sizing: border-box;
    border-radius: 2px;
    color: $dark-violet;
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color .3s;

    -webkit-box-shadow: 0px 10px 30px -4px #aaa;
    -moz-box-shadow: 0px 10px 30px -4px #aaa;
    box-shadow: 0px 10px 30px -4px #aaa;
  }

  @include element("promo-text") {
    color: $dark-violet;
    font-size: 24px;
    text-align: center;
    padding: 0 10px;
    line-height: 32px;
    margin-bottom: 12vh;
  }

  @include element("proceed-text") {
    color: rgba(37, 22, 91, 0.45);
    font-size: 14px;
    margin-bottom: 24px;
  }


}

@include block("home-desktop") {
  @include smartphones() {
    display: none;
  }
}

@include block("home-smartphones") {
  display: none;
  @include smartphones() {
    display: block;
  }
}
