@include block("menu") {

	@include element("nav") {
		display: flex;
		flex-flow: column nowrap;
	}

	@include element("nav-on-trading") {
		display: flex;
		flex-flow: column nowrap;
	}
}

@include block("nav-menu") {
	position: absolute;
	top: 0;

	@include element("icon") {
		width: 25px;
		padding-bottom: 10px;

		@media (min-height: 501px) and (max-height: 570px) {
			width: 18px;
			padding-bottom: 5px;
		}

		@media (min-height: 300px) and (max-height: 400px) {
			width: 12px;
			padding-bottom: 2px;
		}

		@media (min-height: 401px) and (max-height: 500px) {
			width: 14px;
		}

		svg {
			transition: all .3s ease;
			stroke: rgba($gray-link, 0.45);
			fill: rgba($gray-link, 0.45);
		}
	}

	@include element("link") {
		display: flex;
		flex-flow: column-reverse;
		align-items: center;
		justify-content: center;
		width: 104px;
		height: 104px;
		max-height: calc(calc(100vh - 72px)/7);
		border-bottom: 1px solid rgba($dark-black-color, 0.1);
		border-right: 1px solid rgba($dark-black-color, 0.1);
		background-color: $white-color;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		color: rgba($gray-link, 0.45) !important;
		cursor: pointer;
		transition: all .3s ease;
		padding: 0 4px;

		@media (min-height: 300px) and (max-height: 400px) {
			font-size: 10px;
			line-height: 12px;
		}

		@media (min-height: 401px) and (max-height: 500px) {
			font-size: 11px;
			line-height: 14px;
		}

		&:hover {
			text-decoration: none;
			background-color: $dark-violet;
			color: $white-color !important;

			svg {
				stroke: $white-color;
				fill: $white-color;
			}
		}

		@include modifier("active") {
			background-color: $dark-violet;
			color: $white-color !important;

			svg {
				stroke: $white-color;
			}
		}
	}
}