@include block('navigation') {
  list-style: none;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

  @include element("item") {
    display: inline-block;
    margin: 0 16px;

    @include block("link") {
      text-decoration: none;
      color: #ffffff;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 400;
    }
  }

  @include element("computer-navigation") {
    @include for($navigation-min-width) {
      display: none;
    }
  }

  @include element("mobile-navigation") {
    @include for($navigation-min-width) {
      display: block;
    }
  }

  @include element("button-menu") {
    display: none;
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 999;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background: $light-blue;
    margin-right: 20px;
    margin-top: 21px;
    @include block("button-line") {
      width: 18px;
      height: 2px;
      border-radius: 1px;
      background-color: white;
      margin: 0 6px;
      position: absolute;
      transition: all .5s ease;

      &:first-child {
        top: 10px;
      }

      &:last-child {
        bottom: 10px;
      }
    }

    @include for($navigation-min-width) {
      display: inline-block;
    }

    @include smartphones() {
      display: none;
    }

    @include modifier("close") {
      background: white;
      @include block("button-line") {
        background: $light-blue;

        &:first-child {
          top: 6px;
          transform: translateY(8px) rotate(45deg);
        }

        &:last-child {
          bottom: 6px;
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }

  @include element("menu-body") {
    left: 0;
    transition: all .5s;
    overflow: hidden;
    position: fixed;
    transform: translate3d(0, -570px, 0);
    width: 100%;
    padding: 18px 0;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(37, 22, 91, 0.1);
    text-align: center;

    @include smartphones() {
      display: none;
    }

    @include modifier("show") {
      transform: translate3d(0, -72px, 0);
    }
  }
}

@include block("dropdown") {
  position: relative;

  @include element("container") {
    display: flex;
    position: absolute;
    margin-top: -6px;
    margin-left: -16px;
    background: #FFFFFF;
    box-shadow: 0px 24px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex-direction: column;
    padding: 0 12px;

  }

  @include element("item") {
    flex: 1;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 32px;
    color: black;
    transition: transform 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      color: $base-violet;
      transform: scale(1.1, 1.1);
    }

    @include modifier("active") {
      font-weight: 500;
      &:hover {
        cursor: pointer;
        transform: none;
      }
    }
  }
}