@include block("radio-btn") {
  text-transform: none;
  margin: 0 0 0 6%;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  display: inline-block;
  color: rgba(37, 22, 91, 0.45);

  @include for($mx-screens) {
    font-size: 9px;
  }

  @include for($l-screens) {
    font-size: 10px;
    margin: 0 0 0 5%;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  @include modifier("checked") {
    color: #5687F7;
  }
  @include element("checkmark") {
    position: absolute;
    top: 3px;
    left: -24;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid rgba(37, 22, 91, 0.15);

    @include for($l-screens) {
      top: 1px;
    }

    @include for($xxl-screens) {
      left: -18;
    }

    @include for($l-screens) {
      left: -14;
    }

    &:after {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #4B72FF;
    }

    @include modifier("checked") {
      border: 1px solid #4B72FF;
      &:after {
        display: block;
      }
    }
  }
}
